:root {
    --primary-color: #EE4D2D;
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #bdbdbb;

    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    /*100% = 16px */
    font-size: 62.5%;   /* 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
    padding: 0;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2_4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Button style  */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--while-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    cursor: default;
    filter: brightness(80%);
}

.hide {
    display: none !important;
}


/* Animation Header QR and Register & Login */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Select */
.select-input{
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    background-color: #fff;
    border-radius: 2px;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.select-input__icon {
    cursor: pointer;
    color: var(--text-color);
}
.select-input:hover .select-input__list{
    display: block;
}

.select-input__list{
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    margin:  0;
    padding: 0;
    list-style: none;
    box-shadow: 1px 1px 3px #ccc;
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    background-color: #fff;
    display: none;
    z-index: 3;
}

.select-input__item{
    font-size: 1.3rem;
}

.select-input__link{
    padding: 4px 12px;
    display: block;
    color: var(--text-color);
    text-decoration: none;
}

.select-input__link:hover{
    color: var(--primary-color);
}