:root {
    --primary-color: #EE4D2D;
    --while-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #bdbdbb;
}

* {
    box-sizing: inherit;
}

html {
    /*100% = 16px */
    font-size: 62.5%;   /* 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
    padding: 0;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Button style  */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--primary {
    color: var(--while-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    cursor: default;
    filter: brightness(80%);
}

.hide {
    display: none;
}