/* .main {} */

/* Header */

.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2b);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header_navbar-list {
    list-style: none;
    padding-left: 0;
    /* margin-top: 4px; */
}

.header_navbar-item {
    position: relative;
    margin: 0 8px;
    min-height: 26px;
}

.header_navbar-item, .header_navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}

.header_navbar-item:hover, .header__navbar-icon-link:hover, .header_navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header_navbar-title-nopointer:hover {
    color: var(--while-color);
    cursor: text;
}

.header_navbar-item-strong {
    font-weight: 400;
}

.header_navbar-item-separate::after {
    content: "";
    border-right: 2px solid #fb9086;
    height: 16px;
    position: absolute;
    right: -10px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}

.header__navbar-icon-link {
    color: var(--while-color);
    text-decoration: none;
}

.header__navbar-icon {
    margin: 0 4px;
    font-size: 1.8rem;
}

/* Header QR code */

.header__qr {
    width: 180px;
    background-color: var(--while-color);
    position: absolute;
    top: 100%;
    left: 0;
    padding: 4px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 1s;
}

.header_navbar-item-has-qr:hover .header__qr {
    display: block;
}

/* Animation Header QR  */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    /* margin: 0 11px; */
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* Header notification  */
.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 400px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    background-color: var(--while-color);
    cursor: default;
    transform-origin: calc( 100% - 20px) top;
    animation: headerNotifyGrowth ease 0.25s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-width: 10px 14px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
    position: absolute;
    top: -18px;
    right: 20px;
    z-index: 9000;
}

.header_navbar-item-has-notify:hover .header__notify {
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
}

.header__notify-header h3{
    text-transform: capitalize;
    color: rgba(0,0,0,.28);
    padding: 0 12px;
    margin: 0;
    /* height: 2.5rem; */
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.header__notify-list {
    margin: 0;
    padding: 0;
}

.header__notify-item {
    list-style: none;
    padding: 8px 12px;
    background-color: rgb(238, 238, 238 , 0.6);
}
.header__notify-item:hover {
    background-color: rgb(238, 238, 238, 0.4);
}

.header__notify-link {
    display: flex;
    color: var(--black-color);
    text-decoration: none;
}


.header__notify-img {
    width: 10%;
    object-fit: contain;
    align-self: flex-start;
}

.header__notify-info {
    width: 90%;
    margin-left: 12px;
}

.header__notify-name {
    font-size: 1.4rem;
    margin-bottom: 4px;
    font-weight: 400;
    opacity: 0.8;
}

.header__notify-description {
    color: rgba(0,0,0,.54);
    word-wrap: break-word;
    font-size: 1.2rem; 
    line-height: 1.6rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-link {
    margin: 0 auto;
    padding: 8px 16px;
    color: var(--text-color);
    text-decoration: none;
}
